@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    /* background-color: rgb(65, 62, 62); */
    background-color:#0e0e3f;
    color: white;
    font-smooth: antialiased;
    scroll-behavior:smooth;
}
